/* ============== DYNAMIC CONTENT APP ============== */
/* This makes the DC interface more responsive and   */
/* mobile-friendly on any size down to about ___px.  */

[data-amplience-style-patches="enabled"] {
  app,
  ui-view {
    min-width: 0 !important;
  }

  /* ====================================================== 
  /* HEADER STRUCTURE */

  am-masthead {
    padding-right: 0;

    .am-masthead-menu__menu-bar {
      flex-wrap: wrap;
    }
  }

  am-switcheroo {
    position: relative;
    width: auto;
    padding-right: 20px;

    > md-menu {
      position: static;
    }
  }

  .am-switcheroo__btn {
    position: static;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
    }
  }

  .am-switcheroo__btn .am-switcheroo__icon {
    width: 18px;
    height: 18px;
    min-width: 0;
    min-height: 0;
    fill: #fff;
    opacity: 0.7;
  }

  .am-switcheroo__title::after {
    content: "";
    display: inline-block;
    margin: 2px 0 0 6px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid;
    vertical-align: middle;
  }

  #menu_container_0,
  .am-switcheroo__content {
    width: 100%;
    max-width: 320px;
    min-width: initial;
  }

  .am-switcheroo__primary,
  .am-switcheroo__secondary {
    padding: 18px 20px;
    border-bottom: solid 1px #eee;
  }

  .am-switcheroo__primary-links {
    padding: 0;
    gap: 0;
  }

  .am-switcheroo__primary-arrow,
  .am-switcheroo__primary-arrow--disabled {
    order: 1;
    margin-left: auto;
    opacity: 0;
    width: 14px;
    height: 14px;
    min-height: 0;
    min-width: 0;
  }

  a .am-switcheroo__primary-icon {
    opacity: 1;
    order: -1;
    margin-inline: 0;
    width: 30px;
    height: 30px;
    min-height: 0;
    min-width: 0;
  }

  a:hover .am-switcheroo__primary-arrow {
    opacity: 1;
  }

  #content-hub-link {
    color: #f8855d;
    transition: color 0.3s;

    &:hover {
      color: #ee6277;
    }
  }

  [am-id="workforce-link"] {
    color: #9747ff;
    transition: color 0.3s;

    &:hover {
      color: #5c61ff;
    }
  }

  .am-switcheroo__primary--disabled {
    opacity: 0.5;
    background: #f8f9ff;
    filter: grayscale(1);
  }

  .am-hub-selector__hub {
    width: auto;
    padding-right: 20px;
  }

  am-masthead .am-masthead-menu__menu-bar > *,
  am-masthead,
  am-masthead .layout-row {
    height: auto;
  }

  am-timezone-selector {
    margin-left: auto;
  }

  .am-timezone-selector {
    margin-right: 20px;
  }

  .am-timezone-selector,
  .am-timezone-selector .menu-bar,
  .am-timezone-selector .menu-bar > .md-menu,
  .am-timezone-selector .menu-bar > .md-menu a {
    height: 100%;
  }

  md-menu-bar .md-menu {
    margin-inline: 0;
  }

  @media (max-width: 1166px) {
    .am-masthead-menu__menu-bar > .layout-row {
      display: contents;
    }

    am-hub-selector {
      height: auto;
      width: 200px;
    }

    am-masthead-menu[name="mainMenu"] {
      height: auto;
      order: 1;
      margin-inline: auto;
      width: 100%;
    }
  }

  /* ====================================================== 
  /* HEADER BUTTONS */

  .am-masthead-menu__btn,
  .am-masthead-menu__top-level {
    position: relative;
    border: 0;
  }

  .am-masthead-menu__btn,
  .am-masthead-menu__top-level-link {
    padding-block: 4px;
  }

  .am-masthead-menu__btn::before,
  .am-masthead-menu__top-level::before {
    content: "";
    position: absolute;
    inset: auto 0 0;
    background: #00e4b3;
    height: 0;
    transition: height 0.15s ease-in;
    z-index: 9999999999;
  }

  .am-masthead-menu__btn.is-active::before,
  .am-masthead-menu__top-level.is-active::before {
    height: 4px;
  }

  .am-masthead-menu__top-level-link,
  .am-masthead-menu__top-level-caret {
    margin-top: 0;
  }

  .am-masthead-menu__top-level-link {
    height: auto;
    line-height: normal;
    display: flex;
    align-items: center;
  }
  .am-masthead-menu__btn:after,
  .am-masthead-menu__top-level:after {
    top: 0;
    height: 100%;
  }

  .am-masthead-menu__top-level-caret {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* ====================================================== 
  /* DASHBOARD */

  .am-dashboard__tab-content > *,
  .am-content-dashboard__grid {
    min-width: 0;
  }

  md-pagination-wrapper,
  md-tabs-canvas {
    height: auto;
    position: initial;
  }

  .am-content-item-editor__tabs > md-tabs-wrapper {
    padding: 0;
  }

  md-tabs .md-tab {
    padding-block: 16px;
  }

  .am-dashboard__tabs
    > md-tabs-wrapper
    > md-tabs-canvas
    > md-pagination-wrapper
    > md-ink-bar {
    margin-bottom: 4px;
  }

  am-dashboard-widget {
    md-tabs {
      margin-inline: -15px;
    }

    md-tabs-content-wrapper {
      padding-inline: 15px;
    }
  }

  .am-recent-content-items__items {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  am-recent-content-items-row {
    margin-bottom: 0;
  }

  @media (max-width: 1040px) {
    .am-content-dashboard__grid {
      grid-template-columns: 1fr;
    }

    am-content-report {
      grid-column: initial;
    }
  }

  /* ====================================================== 
  /* CONTENT: FOLDERS & FILTERS */

  .am-content-folders__tree-item__inner {
    gap: 4px;
  }

  am-content-folders md-icon.folder-icon {
    min-width: 0;

    svg {
      width: 200%;
      height: 100%;
      margin: 0 -50%;
    }
  }

  .leaf-folder.am-content-folders__tree-item__inner .folder-icon svg,
  .leaf-folder.expanded.am-content-folders__tree-item__inner .folder-icon svg {
    fill: currentColor;
    width: 100%;
    margin: 1px 0 0;
  }

  .am-content-folders__tree-item {
    margin-left: 6px;
  }

  .am-content-folders__tree-item__inner:hover.leaf-folder .folder-icon {
    color: inherit;

    svg {
      fill: currentColor;
    }
  }

  .am-content-folders__tree-item__archive.leaf-folder .folder-icon {
    margin: 0;
  }

  .am-content-view-list__data--label,
  .am-content-view-list__header--label {
    min-width: 200px;
  }

  /* Add missing border back in to the content pane */
  .am-content-item-library__content-pane {
    border-left: 1px solid #d6dff8;
  }

  /* Don't show a border when the grabber is there showing a border */
  am-grabber + .am-content-item-library__content-pane {
    border-left: 0;
  }

  .am-inline-filters__button-wrapper {
    display: contents;
  }

  .am-inline-filters__button {
    position: relative;
    margin: initial;
    min-width: initial;
    min-height: initial;
    border-radius: initial;
    border-right: solid 1px transparent;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: var(--background-color, #fff);
      z-index: -1;
    }
  }

  button.am-inline-filters__button--active {
    background-color: var(--background-color, #fff);
    border-right-color: #d9dfe3;
    box-shadow: initial;
    z-index: 89;
  }

  .md-panel.am-inline-filters-overlay__wrapper._md-panel-animate-enter {
    width: auto;
    max-width: none;
    right: 0;
    margin-top: 2px;
    margin-right: 20px;
    padding-inline: 20px;
    border: solid 1px #d9dfe3;
  }

  /* Stop the overflow from cutting off before the bottom of the filter */
  .am-inline-filters-overlay__wrapper {
    padding-bottom: 0;
  }
  .am-inline-filters-facet-group__facets-wrapper {
    padding-bottom: 20px;
  }

  am-inline-filters-facet-group {
    width: auto;
    margin-left: 0;
  }

  .am-inline-filters-overlay {
    justify-content: space-between;
    width: 100%;
    gap: 16px;
  }

  .am-inline-filters-facet-option,
  am-inline-filters-facet-option {
    margin-right: 0;
  }

  .am-inline-filters-overlay__group-wrapper:not(:first-child)
    am-inline-filters-facet-group {
    width: auto;
    margin-left: 0;
  }

  .am-inline-filters-overlay__group-wrapper {
    min-width: 110px;
  }

  .am-content-item-library-collapsible-inline-folders,
  .am-content-item-library__toolbar {
    margin-bottom: 0;
  }

  .am-content-item-library__toolbar {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.1);
  }

  am-visualization-options-menu .md-menu .md-button,
  am-visualization-options-menu .md-menu md-checkbox,
  am-visualization-options-menu md-menu .md-button,
  am-visualization-options-menu md-menu md-checkbox {
    margin-inline: -6px;
    padding-inline: 6px;
  }

  md-checkbox .md-container {
    left: auto;
  }

  /* ====================================================== 
  /* CONTENT: TABS */

  .am-content-item-editor__tabs {
    display: flex;
    flex-direction: column;

    md-tabs-wrapper {
      height: auto;
      flex-grow: 1;
    }
  }
  .mantine-Tabs-list::before {
    left: -3.125rem;
    right: -3.125rem;
  }
  .extension-content > [data-testid="component-spacer"] > div {
    /* Allow sticky spacer to span the full width */
    &:first-child:not(:has(> [data-testid="component-spacer"])) {
      margin-inline: -3.125rem;
      padding-inline: 3.125rem;
    }
    /* Don't allow empty spacers to be sticky */
    &:has([data-testid="component-spacer"]:empty) {
      position: static;
    }
  }
  [data-testid="component-spacer"]
    [data-rfd-droppable-context-id]
    [data-variant="outline"][data-orientation="horizontal"][data-active] {
    border-bottom-color: #f8f9fe;
  }
  [data-testid="content-form:object-container"],
  [data-testid="content-form:inline-array"] {
    .mantine-Tabs-list::before {
      left: -1rem;
      right: -1rem;
    }
  }

  /* ====================================================== 
  /* CONTENT: TIGHTER PADDING */

  /* Fix the padding on the expandable control panel header */
  [data-testid="control-panel-target"]:not([data-pointer]) {
    padding: 0.8rem 1rem;
    min-height: 0;
  }

  /* Normalise its title & description contents */
  .input__title-section,
  .amplience-description {
    padding: 0;

    > span {
      margin-right: 0;
      line-height: 1.2;
    }
  }

  /* Fields within the content form */
  [data-testid="content-form:object-container"],
  [data-testid="content-form:localized-value"] {
    > div > div > .mantine-SimpleGrid-root {
      gap: 1rem;
    }
  }

  /* Separate the control panel header from the content form */
  [data-testid="control-panel"] + div {
    border-top: 0.0625rem solid #d6dff8;
  }

  .amplience-tabs-panel > .mantine-SimpleGrid-root {
    gap: 1rem;
    margin-bottom: -1.25rem;
  }

  /* ====================================================== 
  /* CONTENT: THUMBNAIL CARDS */

  .am-grid__item__card-wrapper__header {
    margin-top: 0 !important;
    padding: 0 !important;
    height: auto;
    max-height: none;
    border-bottom: solid 1px #ddd;
  }

  /* The title of the card */
  .am-grid__link-wrapper {
    padding: 6px 0 6px 34px;
  }

  am-archived-icon {
    display: none;
  }

  /* The "..." more button in the top-right of each card */
  am-content-view-grid
    .am-grid__item__card-wrapper__header
    .am-context-menu__trigger-button {
    margin: 0;
    height: 34px;
    width: 34px;
    padding: 0;
    min-height: 0;
    min-width: 0;
    border-radius: 50%;
  }

  /* The preview thumbnail area */
  .am-content-card__body {
    inset: 0;
    cursor: pointer;
    transition: opacity 0.15s ease-in-out;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 80%,
        rgba(0, 0, 0, 0.1) 100%
      );
      opacity: 0;
      transition: opacity 0.15s ease-in-out;
    }
  }
  /* This needs some work before we can use the commented out part. */
  /* It'll currently show the overlay on hover, but it would be good
     if it could also show it if the card has one of the following:
      - a status tag that doesn't contain an md-icon
      - an assigned user that doesn't contain an md-icon */
  .am-grid__item {
    /* &:not(:has(.am-workflow-state-selector__wrapper md-icon)), */
    /* &:not(:has(am-assigned-user md-icon)), */
    &:hover {
      .am-content-card__body::after {
        opacity: 1;
      }
    }
  }

  /* Don't have these take up a row */
  .am-grid__item__card-wrapper__toolbar,
  .am-grid__item__card-wrapper__toolbar.am-grid__actions,
  .am-grid__card-wrapper__actions-wrapper {
    display: contents;
  }

  /* The publish status & locale icon/tag */
  .am-grid__card-wrapper__actions-wrapper > div:first-child {
    position: absolute;
    top: 5px;
    left: 5px;
    align-items: flex-start;
    flex-direction: column;
    gap: 12px;
    z-index: 1;
  }

  /* Show empty publish status icon (draft) as a dashed circle */
  am-status-icon md-icon.am-status-icon:empty {
    aspect-ratio: 1;
    border: dashed 2px #eee;
    border-radius: 50%;
  }
  /* Make sure the containing td in list-view can cope with all status icon types */
  .am-content-view-list__publish-status-column {
    width: 34px !important; /* !important to override the existing important */
    flex: 1 0 34px !important; /* !important to override the existing important */
  }

  /* The status tag & user-assigning icons */
  .am-grid__card-wrapper__actions-wrapper > div:last-child {
    position: absolute;
    bottom: 5px;
    left: 6px;
    gap: 4px;
    margin-right: 0;
    z-index: 1;

    /* Assign User & Tag Icons */
    md-icon {
      background: #fff;
      border-radius: 50%;
    }

    am-gravatar {
      background: #fff;
    }
    /* More than 1 assigned user has this "+1" circle */
    .am-assigned-user__more {
      background: #fff;
      border-radius: 99rem;
      display: flex;
      aspect-ratio: 1;
      height: 28px;
      width: auto;
      justify-content: center;
      align-items: center;
      margin-left: -5px;
      z-index: -1;
      transition:
        opacity 0.15s ease-in-out,
        margin-left 0.15s ease-in-out;
    }
  }
  am-gravatar img,
  .am-gravatar__initials {
    transition: opacity 0.15s ease-in-out;
  }

  am-content-view-grid .am-grid__item am-workflow-assignee-chooser {
    transition: opacity 0.15s ease-in-out;
    display: block;

    &:hover {
      am-gravatar img,
      .am-gravatar__initials,
      .am-assigned-user__more {
        opacity: 0.9;
      }
    }
  }

  /* Only show status tags on hover or when there is one set */
  .am-grid__item {
    .am-workflow-pill__wrapper--small {
      margin-right: 0;

      .am-workflow-pill {
        min-width: 0;
        margin-left: calc(-28px - 10px - 4px);
        padding: 0;
        transition:
          opacity 0.15s ease-in-out,
          margin-left 0.15s ease-in-out;
      }
    }

    &:hover .am-workflow-pill__wrapper--small .am-workflow-pill,
    .am-workflow-pill__wrapper--small .am-workflow-pill:not(:has(md-icon)) {
      margin-left: 0;
    }
  }

  /* The checkbox in the bottom-left of each card */
  .am-grid__item-tooltip {
    bottom: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
    border-radius: 3px;
    overflow: hidden;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
  }
  am-grid am-table-checkbox {
    margin-top: 0;
    position: relative;
    width: 25px;
    height: 25px;
    margin-right: 0;

    .am-table-checkbox__selected-icon {
      left: 0;
      top: 0;
      min-width: initial;
      min-height: initial;
      font-size: 25px;
      line-height: 1;
    }
  }

  /* Only show the checkboxes on hover or if the card is selected */
  .am-grid__item:hover .am-grid__item-tooltip,
  .am-grid__item.am-grid__item--is-selected .am-grid__item-tooltip {
    opacity: 1;
  }

  /* ====================================================== 
  /* CONTENT-TYPES FORM */

  .am-content-type-registration__form {
    padding: 0;
  }

  md-tabs[md-border-bottom]:not(.md-dynamic-height) md-tabs-content-wrapper {
    top: 44px;
  }
}
