/* ============== DYNAMIC CONTENT APP ============== */
/* This makes the DC interface more responsive and   */
/* mobile-friendly on any size down to about ___px.  */

[data-amplience-style-patches="enabled"] {
  app,
  ui-view {
    min-width: 0 !important;
  }

  /* HEADER STRUCTURE */

  am-masthead {
    padding-right: 0;

    .am-masthead-menu__menu-bar {
      flex-wrap: wrap;
    }
  }

  am-switcheroo {
    position: relative;
    width: auto;
    padding-right: 20px;

    > md-menu {
      position: static;
    }
  }

  .am-switcheroo__btn {
    position: static;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
    }
  }

  .am-switcheroo__btn .am-switcheroo__icon {
    width: 18px;
    height: 18px;
    min-width: 0;
    min-height: 0;
    fill: #fff;
    opacity: 0.7;
  }

  .am-switcheroo__title::after {
    content: "";
    display: inline-block;
    margin: 2px 0 0 6px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid;
    vertical-align: middle;
  }

  #menu_container_0,
  .am-switcheroo__content {
    width: 100%;
    max-width: 320px;
    min-width: initial;
  }

  .am-switcheroo__primary,
  .am-switcheroo__secondary {
    padding: 18px 20px;
    border-bottom: solid 1px #eee;
  }

  .am-switcheroo__primary-links {
    padding: 0;
    gap: 0;
  }

  .am-switcheroo__primary-arrow,
  .am-switcheroo__primary-arrow--disabled {
    order: 1;
    margin-left: auto;
    opacity: 0;
    width: 14px;
    height: 14px;
    min-height: 0;
    min-width: 0;
  }

  a .am-switcheroo__primary-icon {
    opacity: 1;
    order: -1;
    margin-inline: 0;
    width: 30px;
    height: 30px;
    min-height: 0;
    min-width: 0;
  }

  a:hover .am-switcheroo__primary-arrow {
    opacity: 1;
  }

  #content-hub-link {
    color: #f8855d;
    transition: color 0.3s;

    &:hover {
      color: #ee6277;
    }
  }

  [am-id="workforce-link"] {
    color: #9747ff;
    transition: color 0.3s;

    &:hover {
      color: #5c61ff;
    }
  }

  .am-switcheroo__primary--disabled {
    opacity: 0.5;
    background: #f8f9ff;
    filter: grayscale(1);
  }

  .am-hub-selector__hub {
    width: auto;
    padding-right: 20px;
  }

  am-masthead .am-masthead-menu__menu-bar > *,
  am-masthead,
  am-masthead .layout-row {
    height: auto;
  }

  am-timezone-selector {
    margin-left: auto;
  }

  .am-timezone-selector {
    margin-right: 20px;
  }

  .am-timezone-selector,
  .am-timezone-selector .menu-bar,
  .am-timezone-selector .menu-bar > .md-menu,
  .am-timezone-selector .menu-bar > .md-menu a {
    height: 100%;
  }

  md-menu-bar .md-menu {
    margin-inline: 0;
  }

  @media (max-width: 1166px) {
    .am-masthead-menu__menu-bar > .layout-row {
      display: contents;
    }

    am-hub-selector {
      height: auto;
      width: 200px;
    }

    am-masthead-menu[name="mainMenu"] {
      height: auto;
      order: 1;
      margin-inline: auto;
      width: 100%;
    }
  }

  /* HEADER BUTTONS */

  .am-masthead-menu__btn,
  .am-masthead-menu__top-level {
    position: relative;
    border: 0;
  }

  .am-masthead-menu__btn,
  .am-masthead-menu__top-level-link {
    padding-block: 4px;
  }

  .am-masthead-menu__btn::before,
  .am-masthead-menu__top-level::before {
    content: "";
    position: absolute;
    inset: auto 0 0;
    background: #00e4b3;
    height: 0;
    transition: height 0.15s ease-in;
    z-index: 9999999999;
  }

  .am-masthead-menu__btn.is-active::before,
  .am-masthead-menu__top-level.is-active::before {
    height: 4px;
  }

  .am-masthead-menu__top-level-link,
  .am-masthead-menu__top-level-caret {
    margin-top: 0;
  }

  .am-masthead-menu__top-level-link {
    height: auto;
    line-height: normal;
    display: flex;
    align-items: center;
  }
  .am-masthead-menu__btn:after,
  .am-masthead-menu__top-level:after {
    top: 0;
    height: 100%;
  }

  .am-masthead-menu__top-level-caret {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* DASHBOARD */

  .am-dashboard__tab-content > *,
  .am-content-dashboard__grid {
    min-width: 0;
  }

  md-pagination-wrapper,
  md-tabs-canvas {
    height: auto;
    position: initial;
  }

  .am-content-item-editor__tabs > md-tabs-wrapper {
    padding: 0;
  }

  md-tabs .md-tab {
    padding-block: 16px;
  }

  .am-dashboard__tabs
    > md-tabs-wrapper
    > md-tabs-canvas
    > md-pagination-wrapper
    > md-ink-bar {
    margin-bottom: 4px;
  }

  am-dashboard-widget {
    md-tabs {
      margin-inline: -15px;
    }

    md-tabs-content-wrapper {
      padding-inline: 15px;
    }
  }

  .am-recent-content-items__items {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  am-recent-content-items-row {
    margin-bottom: 0;
  }

  @media (max-width: 1040px) {
    .am-content-dashboard__grid {
      grid-template-columns: 1fr;
    }

    am-content-report {
      grid-column: initial;
    }
  }

  /* CONTENT */

  .am-content-folders__tree-item__inner {
    gap: 4px;
  }

  am-content-folders md-icon.folder-icon {
    min-width: 0;

    svg {
      width: 200%;
      height: 100%;
      margin: 0 -50%;
    }
  }

  .leaf-folder.am-content-folders__tree-item__inner .folder-icon svg,
  .leaf-folder.expanded.am-content-folders__tree-item__inner .folder-icon svg {
    fill: currentColor;
    width: 100%;
    margin: 1px 0 0;
  }

  .am-content-folders__tree-item {
    margin-left: 6px;
  }

  .am-content-folders__tree-item__inner:hover.leaf-folder .folder-icon {
    color: inherit;

    svg {
      fill: currentColor;
    }
  }

  .am-content-folders__tree-item__archive.leaf-folder .folder-icon {
    margin: 0;
  }

  .am-content-view-list__data--label,
  .am-content-view-list__header--label {
    min-width: 200px;
  }

  .md-panel.am-inline-filters-overlay__wrapper._md-panel-animate-enter {
    width: auto;
    max-width: none;
    right: 0;
    margin-right: 20px;
    padding-inline: 20px;
  }

  am-inline-filters-facet-group {
    width: auto;
    margin-left: 0;
  }

  .am-inline-filters-overlay {
    justify-content: space-between;
    width: 100%;
    gap: 16px;
  }

  .am-inline-filters-facet-option,
  am-inline-filters-facet-option {
    margin-right: 0;
  }

  .am-inline-filters-overlay__group-wrapper:not(:first-child)
    am-inline-filters-facet-group {
    width: auto;
    margin-left: 0;
  }

  .am-inline-filters-overlay__group-wrapper {
    min-width: 110px;
  }

  am-visualization-options-menu .md-menu .md-button,
  am-visualization-options-menu .md-menu md-checkbox,
  am-visualization-options-menu md-menu .md-button,
  am-visualization-options-menu md-menu md-checkbox {
    margin-inline: -6px;
    padding-inline: 6px;
  }

  md-checkbox .md-container {
    left: auto;
  }
}
