/* ============== NEXTGEN INTERFACE ============== */
/* Some small tweaks to the UI */
[data-amplience-style-patches="enabled"] {
  /* Hover effect for sortable table headers */
  thead th.amplience-TableThSortable-root:hover {
    background: var(--mantine-color-primary-2);
  }

  /* Thumbnails */
  [data-testid="resource-card-shell"] {
    position: relative;
    /* Hide the overflow so the border-radii show */
    /* and allow items to come in from far left   */
    overflow: hidden;

    /* Prevent select border from nudging layout or card/thumbnail contents */
    &[data-selected="true"] {
      border-width: 1px;
      outline: solid 1px var(--mantine-color-primary-7);
    }

    /* Actions */
    > .mantine-Stack-root > .mantine-Flex-root + div {
      position: absolute;
      inset: auto 0 0;
      z-index: 1;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 0,
          rgba(0, 0, 0, 0.1) 100%
        );
        opacity: 0;
        transition: opacity 0.15s ease-in-out;
      }

      > .mantine-Flex-root {
        padding: var(--mantine-spacing-xs);

        > .mantine-Group-root {
          display: contents;

          > span {
            order: 2;
            margin-left: auto;

            /* Has a locale badge */
            &:has(+ span) {
              margin-left: 0;
            }

            /* Locale badge */
            + span {
              order: 1;
            }
          }
        }

        [data-testid="inline:assignee"] {
          background: var(--mantine-color-white);
          border-radius: 99px;
          color: var(--mantine-color-black);
          transition:
            opacity 0.15s ease,
            margin-left 0.15s ease-in-out;
        }

        /* We had to push the assignee avatar rather than the label button, */
        /* as the label button has to remain on screen (even if opacity:0)  */
        /* for the label modal to work.                                     */
        &:not(:has(.mantine-Badge-root)) [data-testid="inline:assignee"] {
          margin-left: -34px;
        }
      }

      /* TODO: We could do with a hover effect here */
      /* button,
      span[role="button"] {
        &:hover {
          opacity: 0.9;
        }
      } */

      /* Label buttons */
      button {
        /* Existing label button */
        > div {
          cursor: pointer;
        }

        /* Empty label button */
        &:has(> [data-testid="icon"]) {
          --amplience-icon-size-m2: 18px;
          padding: 4px;
          border-radius: 99px;
          background: var(--mantine-color-white);
          color: var(--mantine-color-black);
        }
      }
    }

    /* The preview thumbnail area */
    .mantine-Card-section {
      padding: 0 !important; /* important required to override inline styles */
    }

    &:hover {
      /* Actions */
      > .mantine-Stack-root > .mantine-Flex-root + div {
        &::before {
          opacity: 1;
        }

        &:not(:has(.mantine-Badge-root)) [data-testid="inline:assignee"] {
          margin-left: 0;
        }
      }
    }
  }

  /* Dark fixes */
  &[data-mantine-color-scheme="dark"] body {
    --mantine-color-azure-0: var(--app-color-surface-1);
    --mantine-color-azure-1: var(--app-color-surface-1);
    --mantine-color-azure-2: var(--app-color-surface-1);
    --mantine-color-azure-3: var(--app-color-surface-1);

    [class^="_itemRepository_"],
    [class*=" _itemRepository_"] {
      border-color: var(--item-border-color);
    }

    [class^="_chip_"],
    [class*=" _chip_"],
    [class^="_controlRepository_"]:hover,
    [class*=" _controlRepository_"]:hover {
      background: var(--app-color-surface-2);
    }

    [data-variant="ghost"]:hover {
      background: var(--mantine-color-primary-9);
    }

    .mantine-Table-thead tr[data-hover]:hover {
      background: var(--app-color-surface-2) !important;
    }

    thead th {
      &:hover {
        background: none;
      }

      &.amplience-TableThSortable-root:hover {
        background: var(--mantine-color-aqua-8);
      }
    }
  }
}
