/* ================ ACCOUNT MANAGEMENT APP ================ */
/* This makes the account management headers responsive and */
/* mobile-friendly on any size down to 459px.               */

/* NB: We must include .App.App in the classes to */
/* match the specificity of the existing styles.  */
[data-amplience-style-patches="enabled"] {
  .App.App {
    min-width: initial;
    overflow-y: auto;

    .masthead {
      height: auto;
      padding-right: initial;

      > div > .flex {
        flex-wrap: wrap;

        > .flex,
        > .flex > .flex {
          display: contents !important;
        }
      }

      .masthead__title-wrap {
        position: relative;
        margin-right: auto;
        border-right: 1px solid rgba(89, 118, 132, 0.5);
      }

      .switcheroo-wrapper,
      .switcheroo__button {
        position: static;
      }

      .switcheroo__button::after {
        content: "";
        position: absolute;
        inset: 0;
      }

      .switcheroo__logo {
        width: 18px;
        height: 18px;
      }

      .masthead__title-text span {
        width: auto;
        display: flex;
        align-items: center;
        font-weight: initial;

        &::after {
          content: "";
          display: inline-block;
          margin: 2px 0 0 6px;
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px solid;
          vertical-align: middle;
        }
      }

      .masthead__admin-badge {
        padding-right: initial;
      }

      .badge {
        margin: 8px;
      }

      .badge__text {
        line-height: 1;
      }

      .masthead__help-icon,
      .masthead__logout-icon {
        margin: initial;
        padding: 8px;
        width: initial;
        height: initial;
        min-width: initial;
        min-height: initial;
      }
    }

    .organization-management__org-selector {
      width: initial;

      @media (max-width: 458px) {
        width: 100%;
        flex-grow: 1;
      }
    }

    .organization-management__header {
      height: initial;
      flex-wrap: wrap;
      padding-right: initial;
    }

    .organization-management__context-bar {
      display: contents;
    }

    .organization-management__tabs {
      flex-grow: 1;

      @media (max-width: 603px) {
        order: 1;
      }
    }

    .tab-bar__tab {
      flex-grow: 1;
      max-width: 201px;
    }

    .organization-management__search-and-invite {
      padding: 10px 20px;

      @media (max-width: 458px) {
        width: 100%;
        justify-content: center;
      }
    }

    .list-row > td,
    .table-row > th {
      min-width: 0;
    }

    .organization-management__context-bar {
      display: contents;
    }

    /* Switcheroo fixes */

    .switcheroo-menu-surface {
      width: 100%;
      max-width: 320px;
      position: fixed;
    }

    .switcheroo-menu__primary-actions,
    .switcheroo-menu__secondary-actions {
      padding: 0;
      width: auto;
      height: auto;
    }

    .switcheroo-item {
      width: 100%;
      margin: 0;
      height: auto;

      a {
        padding: 18px 20px;
        width: 100%;
        height: auto;
        border-bottom: solid 1px rgb(238, 238, 238);
        display: flex;
        align-items: center;
        gap: 10px;

        &:hover {
          .switcheroo-item__parent-wrapper > span {
            color: rgb(0, 44, 66);
          }

          .switcheroo-item__wrapper {
            left: auto;
          }
        }
      }
    }

    .switcheroo-item__parent-wrapper {
      display: contents;

      > span {
        margin-left: 0 !important;
        line-height: initial;
      }
    }

    .switcheroo-item__cta--app-icon,
    .switcheroo__primary-app-icon {
      height: 30px;
      width: 30px;
      order: -1;

      /* Extra specicifity needed to override existing CSS */
      &.switcheroo-item__cta--app-icon {
        opacity: 1;
      }
    }

    /* Primary */

    .switcheroo-item--primary {
      a {
        &[href="/media"] .switcheroo-item__parent-wrapper > span {
          color: #f8855d;
          transition: color 0.3s;
        }

        &[href="/content"] .switcheroo-item__parent-wrapper > span {
          color: #216083;
          transition: opacity 0.3s;
          opacity: 0.8;
        }

        .switcheroo__primary-app--wf .switcheroo__primary-app-text-content {
          display: inline-block;
          vertical-align: middle;
          color: #9747ff;
        }

        &:hover {
          &[href="/media"] .switcheroo-item__parent-wrapper > span {
            color: #ee6277;
          }

          &[href="/content"] .switcheroo-item__parent-wrapper > span {
            color: #216083;
            opacity: 1;
          }

          .switcheroo__primary-app--wf .switcheroo__primary-app-text-content {
            color: #5c61ff;
          }

          .switcheroo-item__primary-action-icon,
          .switcheroo__primary-app-arrow {
            opacity: 1;
            transform: translateX(5px);
          }
        }

        .switcheroo-item__wrapper,
        .switcheroo__primary-app-arrow {
          order: 1;
          margin-left: auto;
          width: 14px;
          height: 14px;
          left: auto;
        }
      }
    }

    .switcheroo-item__primary-action-icon,
    .switcheroo__primary-app-arrow {
      height: 14px;
      width: 14px;
      margin: 0;
      opacity: 0;
      transition: all 0.3s;
    }

    /* Injected WorkForce link */
    .switcheroo__primary-app {
      display: contents;
    }

    /* Secondary */

    .switcheroo-item--secondary .switcheroo-item__parent-wrapper > span {
      font-size: 13px;
      color: rgb(89, 118, 132);
    }

    .switcheroo-item__cta--popout {
      margin-left: auto;
    }

    /* Disabled */

    .switcheroo-item--disabled {
      filter: grayscale(1);
      opacity: 0.5;
      background: #f8f9ff;
    }
  }
}
