[data-amplience-enhanced-naming="enabled"] {
  /* TOP LEVEL HOMEPAGE */

  .apps__body > .primary-app {
    .primary-app__title,
    .primary-app__description,
    .button {
      font-size: 0;

      &::before {
        display: inline-block;
        vertical-align: middle;
      }
    }

    .primary-app__title::before {
      font-size: 22px;
    }

    .primary-app__description::before {
      font-size: 14px;
    }

    .button::before {
      content: "Manage";
      font-size: 16px;
    }

    &:first-child {
      .primary-app__title::before {
        content: "Content";
      }

      .primary-app__description::before {
        content: "Create, preview, schedule and publish your content.";
      }
    }

    &:nth-child(2) {
      .primary-app__title::before {
        content: "Digital Assets";
      }

      .primary-app__description::before {
        content: "Organise and enrich your media";
      }
    }
  }

  .apps__studios_body {
    border: dashed 3px;
    border-radius: 20px;
    position: relative;
    color: #9748fe;
    padding: 30px;
    margin: -33px 0;

    &::before {
      content: "AI & Automation";
      position: absolute;
      left: 12px;
      top: 0;
      background: white;
      padding: 6px;
      font-size: 14px;
      font-weight: bold;
      transform: translateY(-50%);
      margin-top: -2px;
    }
  }

  /* DYNAMIC CONTENT APP */

  .am-switcheroo__title {
    font-size: 0;

    &::before {
      content: "Content Management";
      font-size: 14px;
      vertical-align: middle;
    }
  }

  #content-hub-link {
    font-size: 0;

    &::after {
      content: "Digital Asset Management";
      margin-left: -10px;
      font-size: 16px;
    }
  }

  .am-switcheroo__primary-icon {
    order: 1;
  }

  /* DAM */

  .switcheroo .content-hub p {
    font-size: 0;

    &::before {
      content: "Digital Asset Management";
      font-size: 14px;
      vertical-align: middle;
    }
  }

  .switcheroo__primary-app--dc.switcheroo__primary-app--dc
    .switcheroo__primary-app-text-content.switcheroo__primary-app-text-content {
    font-size: 0;

    &::after {
      content: "Content Management";
      font-size: 16px;
      transition: opacity 0.3s;
      vertical-align: middle;
    }
  }

  /* ACCOUNT MANAGEMENT APP */

  .switcheroo-item--primary
    a[href="/content"]
    .switcheroo-item__parent-wrapper
    > span {
    font-size: 0;

    &::after {
      content: "Content Management";
      font-size: 16px;
      vertical-align: middle;
    }
  }

  .switcheroo-item--primary
    a[href="/media"]
    .switcheroo-item__parent-wrapper
    > span {
    font-size: 0;

    &::after {
      content: "Digital Asset Management";
      font-size: 16px;
    }
  }
}
