[data-amplience-enhanced-naming="enabled"] {
  /* TOP LEVEL HOMEPAGE */

  .apps__body > .primary-app {
    .primary-app__subtitle {
      font-size: 0;

      &::after {
        display: inline-block;
        vertical-align: middle;
      }
    }

    .primary-app__subtitle::before {
      font-size: 16px;
    }

    &:first-child {
      .primary-app__subtitle::before {
        content: "Content Management System";
      }
    }

    &:nth-child(2) {
      .primary-app__subtitle::before {
        content: "Digital Asset Management";
      }
    }
  }

  /* CMS APP (FKA DYNAMIC CONTENT) */

  .am-switcheroo__title {
    font-size: 0;

    &::before {
      content: "CMS";
      font-size: 14px;
      vertical-align: middle;
    }
  }

  #content-hub-link .am-switcheroo__primary-subtitle {
    font-size: 0;

    &::after {
      content: "Digital Asset Management";
      font-size: 12px;
    }
  }

  .am-switcheroo__primary-icon {
    order: 1;
  }

  /* The header break can now kick in later */
  @media (min-width: 1119px) and (max-width: 1239px) {
    .layout-align-start-center.layout-row.flex {
      display: flex;
    }

    am-hub-selector.ng-isolate-scope {
      width: auto;
    }

    am-masthead-menu.ng-scope.ng-isolate-scope {
      height: 100%;
    }
  }

  /* DAM APP (FKA CONTENT HUB)*/

  .switcheroo .content-hub p {
    font-size: 0;

    &::before {
      content: "DAM";
      font-size: 14px;
      vertical-align: middle;
    }
  }

  .switcheroo__primary-app--dc.switcheroo__primary-app--dc
    .switcheroo__primary-app-subtitle.switcheroo__primary-app-subtitle {
    font-size: 0;

    &::after {
      content: "Content Management System";
      font-size: 12px;
    }
  }

  /* ACCOUNT MANAGEMENT APP */

  .switcheroo-item--primary a {
    &[href="/content"] .switcheroo-item__subtitle.switcheroo-item__subtitle {
      font-size: 0;

      &::after {
        content: "Content Management System";
        font-size: 12px;
      }
    }

    &[href="/media"] .switcheroo-item__subtitle.switcheroo-item__subtitle {
      font-size: 0;

      &::after {
        content: "Digital Asset Management";
        font-size: 12px;
      }
    }
  }
}
